body {
    font-family: 'Open Sans',sans-serif;
    background-color: black; 
    color: whitesmoke; 
    font-size: 1.2em; 
}

.post {
    border-bottom-style: solid; 
    border-bottom-color: whitesmoke; 
}